/* General Styles */

/* @font-face {
  font-family: 'Telegraf';
  src: url('./../fonts/Telegraf-Bold.woff2') format('woff2'),
      url('./../fonts/Telegraf-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} */

.main {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  width: min(100%, 252px);
  height: 100%;
  border-right: 2px solid #EBEBEB;
  padding: 168px 36px 32px 40px;
}

/* Menu */

.nav__item:not(:last-child) {
  margin-bottom: 12px;
}

.nav__link {
  display: flex;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #C7C7C7;
  padding: 4px 10px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.nav__icon {
  margin-right: 18px;
}

.nav__icon rect {
  fill: transparent
}

.nav__icon path {
  transition: all 0.3s ease-in-out;
}

.nav__link--active,
.nav__link:hover {
  background-color: #F0F7FF;
  color: #197BBD;
}

.nav__link--active .nav__icon path,
.nav__link:hover .nav__icon path {
  stroke: #197BBD;
}

/* Upsell */

.upsell {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.upsell__illustration {
  display: block;
  margin-bottom: 8px;
}

.upsell__description {
  width: min(100%, 130px);
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #404040;
  margin-bottom: 16px;
}

.upsell__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(100%, 164px);
  height: 40px;
  background: #FFC145;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 11.1442px;
  line-height: 14px;
  color: #404040;
  border-radius: 14px;
  transition: all .3s ease-in-out;
  gap: 0 4px;
}

.upsell__button:hover {
  opacity: 0.7;
}

/* Main Content */

.main-content {
  padding: 32px 44px;
  flex-grow: 1;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 42px;
}

.header__title {
  font-weight: 600;
  font-size: 44px;
  line-height: 53px;
  color: #404040;
  margin-bottom: 4px;
}

.header__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #AEAEAE;
}

/* User Actions */

.user-actions {
  display: flex;
  align-items: center;
}

/* User Action Mensage */

.user-actions-message {
  margin-right: 20px;
  line-height: 0;
}

/* User Action Alert */

.user-actions-alert {
  position: relative;
  margin-right: 24px;
  line-height: 0;
}

.user-actions-alert__notification {
  position: absolute;
  top: 0;
  right: 2px;
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background: #BB4430;
}


/* User Action Profile */

.user-actions-profile {
  display: flex;
  align-items: center;
}

.user-actions-profile__avatar {
  margin-right: 8px;
}

.user-actions-profile__name {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #404040;
}

.user-actions-profile__role {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #AEAEAE;
}

/* Main Finance */

.main-finance {
  display: flex;
  align-items: stretch;
  gap: 0 32px;
}

.main-finance__block--left {
  display: flex;
  flex-direction: column;
  gap: 32px 0;
  width: calc(50% + 90px);
}

.main-finance__block--right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

/* Credit Card Block */

.credit-card-block {
  width: 100%;
  background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 28px;
  padding: 14px 28px 36px 24px;
}

.credit-card-block__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #404040;
  margin-bottom: 12px;
}

.credit-card-info__block--left {
  width: min(100%, 372px);
}

/* Credit Card Info */

.credit-card-info {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.credit-card-info__card {
  position: relative;
  padding-left: 12px;
  margin-bottom: 32px;
  border-right: 1px solid #E8E8E8;
}

.credit-card-info__arrows {
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(-50%);
  width: calc(100% - 12px);
  display: flex;
  justify-content: space-between;
}

.credit-card-info__limit {
  width: min(100%, 334px);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 12px;
}

.credit-card-info__progress {
  width: 100%;
  height: 10px;
  margin-bottom: 10px;
  background-color: #F1F1F1;
  border-radius: 100px;
}

.credit-card-info__progress-bar {
  width: 30%;
  height: 100%;
  border-radius: 100px;
  background: #197BBD;
}

.credit-card-info__text {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #AEAEAE;
}

.credit-card-info__text--black {
  color: #404040;
  font-weight: 600;
}

.credit-card-info__block--right {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.credit-card-info__balance {
  margin-bottom: 24px;
}

.credit-card-info__balance:last-child {
  margin-bottom: 30px;
}

.credit-card-info__text--blue {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #197BBD;
}

.credit-card-info__text--dollar:before {
  content: "$ ";
  font-size: 18px;
  line-height: 22px;
}

.credit-card-info__text--green {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #439A86;
}

.credit-card-info__text--red {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #BB4430;
}

.credit-card-info__switcher {
  margin-top: auto;
}

.credit-card-info__input {
  position: absolute;
  left: -9999999px;
  opacity: 0;
}

.credit-card-info__switch {
  display: inline-block;
  width: 46px;
  height: 24px;
  background: #EBEBEB;
  border-radius: 100px;
  transition: all .3s ease-in-out;
}

.credit-card-info__switch::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 100px;
  background: #CDCDCD;
  transition: all .3s ease-in-out;
}

.credit-card-info__input:checked + .credit-card-info__switch {
  background: rgb(0, 128, 0, 0.2);
}

.credit-card-info__input:checked + .credit-card-info__switch::before {
  transform: translateX(100%);
  background-color: green;
}

/* Transaction Block */

.transaction-block {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  padding: 18px 28px 28px 24px;
}

.transaction-block__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #404040;
  margin-bottom: 18px;
}

.transaction-block-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse; 
}

.transaction-block-table__trow {
  border-bottom: 1px solid #ECECEC;
}

.transaction-block-table__trow--noborder {
  border: 0;
}

.transaction-block-table__th {
  padding-bottom: 18px;
}

.transaction-block-table__title {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #AEAEAE;
}

.transaction-block-table__body .transaction-block-table__trow:first-child .transaction-block-table__column {
  padding-top: 0;
}

.transaction-block-table__column {
  padding: 12px 0 12px;
}

.transaction-block-table__text {
  display: flex;
  align-items: center;
  gap: 0 6px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #404040;
}

.transaction-block-table__text--light {
  color: #C7C7C7;
}

.transaction-block-table__text--dark {
  font-weight: bold;
  color: #404040;
}

/* Goals Block */

.goals-block {
  width: 100%;
  margin-bottom: 48px;
}

.goals-block__title {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #404040;
  gap: 0 6px;
  margin-bottom: 14px;
}

.goals-block__list {
  display: flex;
  gap: 0 14px;
}

.goals-block__list-item {
  width: min(100%, 158px);
}

.goals-block-card {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 28px;
  padding: 14px 0 12px 24px;
}

.goals-block-card__price {
  display: block;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #696969;
}

.goals-block-card__date {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #AEAEAE;
  margin-bottom: 36px;
}

.goals-block-card__icon {
  margin-bottom: 2px;
}

.goals-block-card__name {
  font-size: 20px;
  line-height: 25px;
  color: #404040;
}

/* Statics Block */

.statics-block {
  margin-bottom: 44px;
}

.statics-block__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #404040;
  margin-bottom: 12px;
}

.statics-block-info {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}

.statics-block-info__row {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  gap: 0 16px;
}

.statics-block-info__icon {
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.statics-block-info__category {
  flex-grow: 1;
}

.statics-block-info__progress {
  width: 100%;
  height: 10px;
  border-radius: 100px;
  background-color: #F1F1F1;
  margin-bottom: 8px;
}

.statics-block-info__progress-bar {
  width: 30%;
  height: 100%;
  border-radius: 100px;
}

.statics-block-info__progress-bar--orange {
  background: linear-gradient(270deg, #FCAE73 0%, #F79042 99.18%);
}

.statics-block-info__progress-bar--green {
  background: linear-gradient(90deg, #209D43 0%, #2BC255 100%);
}

.statics-block-info__progress-bar--blue {
  background: #70A6E8;
}

.statics-block-info__name {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #AEAEAE;
}

.statics-block-info__percentage {
  display: block;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #696969;
}

/* New Transaction Block */

.new-transaction-block {
  display: flex;
  align-items: flex-start;
}

.new-transaction-block__column--left {
  background: #FFFFFF;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  padding: 16px 12px 12px;
  flex-grow: 1;
  margin-right: 14px;
}

.new-transaction-block__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #404040;
  margin-bottom: 16px;
}

.new-transaction-block__people {
  display: flex;
  align-items: stretch;
  margin-bottom: 16px;
}

.new-transaction-block__people-list {
  display: flex;
  align-items: flex-start;
  gap: 0 12px;
}

.new-transaction-block__people-name {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #404040;
  text-align: center;
  margin-top: 2px;
}

.new-transaction-block__people-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #404040;
  margin-left: 4px;
}

.new-transaction-block__people-icon {
  display: block;
  margin-bottom: 12px;
}

.new-transaction-handle__form {
  display: flex;
  align-items: center;
}

.new-transaction-handle__input {
  flex-grow: 1;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #197BBD;
  box-sizing: border-box;
  border-radius: 8px;
  padding-left: 10px;
  font-size: 24px;
  line-height: 30px;
  color: #C7C7C7;
  margin-right: 10px;
}

.new-transaction-handle__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(100%, 132px);
  height: 36px;
  background: #FFC145;
  border-radius: 13.617px;
  font-weight: bold;
  font-size: 11.1442px;
  line-height: 14px;
  color: #404040;
}

@media screen and (max-width: 1344px) {
  /* rules */
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  /* Header */

  .header__title {
    font-size: 32px;
    line-height: 42px;
  }

  .header__description {
    max-width: 220px;
    font-size: 14px;
    line-height: 18px;
  }

  /* Main Content */

  .main-content {
    padding: 32px 16px;
  }
  
  .main-finance__block--left {
    width: 100%;
  }
  
  /* Main Finance */

  .main-finance {
    flex-direction: column;
  }
}